@import "~@/assets/fonts/fontello/css/fontello.css";
@import "~@/style/normalize.css";
@import "~@/style/magnific.css";

@font-face {
  font-family: LatoR;
  src: url('~@/assets/fonts/lato/Lato-Regular.ttf');
 }

 @font-face {
  font-family: LatoB;
  src: url('~@/assets/fonts/lato/Lato-Black.ttf');
 }

 @font-face {
  font-family: LatoBold;
  src: url('~@/assets/fonts/lato/Lato-Bold.ttf');
 }

 @font-face {
  font-family: LatoT;
  src: url('~@/assets/fonts/lato/Lato-Thin.ttf');
 }


 :root {
  --color-white: #ffff;
  --color-black: #000000;
  --color-theme: #ada074;
  --color-grey: #a4a4a4;
  --color-gray-more: #6c6c6c;
  --color-gray-line: #dedede;
  --color-gray-text: #868585;
  --color-gray-bg: #ececec;
  --color-footer: #3c3c3c;

  --transition-normal: 0.3s;
}

 
#app {
  font-family: LatoR, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background-color: rgba(78, 78, 78, 0.19);
  color: rgb(54, 158, 199);
 }

.container {
  width: 1120px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  & .btn {
    background-color: transparent;
    color: var(--color-black);
    border: 1.5px solid var(--color-black);
    padding: 13px 48px;
    text-transform: uppercase;
    transition-duration: var(--transition-normal);
    cursor: pointer;
  }
}


.container {
  & .title-container {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: LatoBold;
    font-size: 2em;
    padding-top: 70px;
    letter-spacing: 6px;
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 80px;
      background-color: var(--color-black);
      bottom: -30px;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
    }
  }
  & .title-mini {
    color: var(--color-white);
    padding-top: 90px;
    font-size: 2.1em;
    font-family: LatoT;
  }
}

.header {
  background-image: url("~@/assets/img/bg-h.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: inline-block;
    & .logo {
      padding-top: calc(100%/7);
    }
    & .head-title {
      & ::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 105px;
        background-color: var(--color-white);
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        bottom: -50px;
      }
      padding-top: calc(100%/7.3);
      color: var(--color-white);
      position: relative;
      & h1 {
        text-transform: uppercase;
        font-size: 2.1em;
        letter-spacing: 6.5px;
        margin: 0;
      }
      & h2 {
        font-family: LatoT;
        margin: 13px 0 0 0;
        letter-spacing: 5px;
      }
    }
    & .head-control {
      position: relative;
      margin-top: calc(100%/4);
      & .btn {
        display: flex;
        margin: 0 auto;
        color: var(--color-white);
        border: 1.5px solid var(--color-white);
        &:hover {
          background-color: var(--color-white);
          color: var(--color-black);
        }
      }
      & .icon-down-open-big {
        font-size: 2em;
        cursor: pointer;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 44px;
        top: 90px;
        color: var(--color-white);
      }
    }
}



.about {
  .menu {
    width: 100%;
    border-bottom: 1px solid var(--color-gray-line);
    .nav {
      display: flex;
      justify-content: center;
      list-style: none;
      padding-top: 7px;
      padding-bottom: 2px;
      padding-left: 0;
      li {
        text-transform: uppercase;
        transition-duration: var(--transition-normal);
        margin: 0 14px;
        cursor: pointer;
        &:hover {
          color: var(--color-theme);
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      &.fixed {
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        border-bottom: 1px solid var(--color-gray-line);
        height: 29px;
        padding-top: 15px !important;
        top: 0;
        background-color: var(--color-white);
        margin: 0;
        z-index: 2;
      }
    }
  }
  & .about-text {
    padding-top: 43px;
    line-height: 1.7;
    color: var( --color-grey);
  }
  .about-tehnology {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 280px;
      &-image {
        border: 1px solid var(--color-gray-line);
        border-radius: 50%;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-info {
        margin-top: 30px;
        p {
          line-height: 2;
          color: var(--color-gray-text);
        }
      }
      &-title {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.5em;
      }
      &:first-child {
        margin-right: 25px;
      }
      &:last-child {
        margin-left: 25px;
        img {
          margin-left: 10px;
        }
      }
    }
  }
}


.partners {
  background-image: url(~@/assets/img/bg_partners.jpg);
  width: 100%;
  height: 385px;
  background-size: cover;
  background-position: center 100%;
  &-content {
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      margin: 0 55px;
    }
  }
}


.contact {
  &-content {
    display: flex;
    justify-content: space-evenly;
    padding-top: 140px;
    &__form {
      position: relative;
      & .el_input {
        display: flex;
        flex-direction: row;
        & input {
          border: none;
          border-bottom: 2px solid rgb(0, 0, 0);
          height: 50px;
          font-family: LatoBold;
          font-size: 1em;
          text-transform: uppercase;
          color: var(--color-black);
          &:first-child {
            margin-right: 35px;
          }
          &::placeholder {
            font-family: LatoBold;
            font-size: 1em;
            text-transform: uppercase;
            color: var(--color-black);
          }
          &:focus {
            outline: none;
          }
          &:active {
            outline: none;
          }
        }
      }
        & textarea {
          width: 100%;
          display: block;
          color: var(--color-black);
          overflow: hidden;
          line-height: 1.3;
          background-size: auto;
          background-color: transparent;
          border: none;
          resize: none;
          border-bottom: 2px solid var(--color-black);
          padding-right: 0;
          margin-top: 115px;
          font-family: LatoBold;
          font-size: 1em;
          text-transform: uppercase;
          color: var(--color-black);
          &:focus {
            outline: none;
          }
          &::placeholder {
            font-family: LatoBold;
            font-size: 1em;
            text-transform: uppercase;
            color: var(--color-black);
          }
      }
    }
    &__info {
      width: 240px;
      & p {
        text-align: left;
        padding-bottom: 20px;
      }
    }
    &__icon {
      display: flex;
      justify-content: left;
      margin: 0;
      & a {
        color: var(--color-black);
      }
    }
    &__send {
      display: flex;
      justify-content: flex-end;
      margin-top: 100px;
        & .btn {
          padding: 0 !important;
          text-align: right !important;
          border: none !important;
          font-family: LatoBold;
          &:focus {
            outline: none;
          }
          &:hover {
            color: var(--color-theme);
          }
        }
      }
  }
}



.footer {
  background-color: var(--color-footer);
  padding: 40px 0;
  &-content {
    &__link {
      list-style: none;
      padding-left: 0;
      display: flex;
      justify-content: center;
      margin: 35px 0;
      & li {
        margin: 0 15px;
        font-size: 0.9em;
      }
      & a {
        color: var(--color-grey);
        text-decoration: none;
      }
    }
    &-copyright {
      color: var(--color-gray-more);
      font-size: 0.9em;
    }
  }
}