.portfolio {

  &-content {
    margin-top: 80px;
    &__control {
      &-btn {
        text-transform: uppercase;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;
        transition-duration: var(--transition-normal);
        margin: 0 15px;
        &:active, &:focus {
          outline: none;
        }
        &:hover {
          color: var(--color-theme);
        }
        &.mixitup-control-active {
          color: var(--color-theme);
        }
      }
    }
    &__items {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;

      .coub_work {
        width: 530px;
        height: 350px;
        margin: 14px;
        position: relative;
        overflow: hidden;
      }
      
      .coub_work img {
        vertical-align: sub;
        transition-duration: 0.3s;
        max-width: 530px;
        min-height: 350px;
        object-fit: cover;
      }
      
      .popup_content {
        background-color: var(--color-theme);
        border: none;
        color: var(--color-white);
        cursor: pointer;
        opacity: 0;
        padding: 8px 30px;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        transition-duration: var(--transition-normal);
        &:active, &:focus {
          outline: none;
        }
        &:hover {
          background-color: var(--color-white);
          color: var(--color-black);
        }
      }
    }
  }
}